@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: var(--font-geist-sans);
}

body {
  overflow-y: scroll;
  @apply bg-background-02
}
